/* 
ID & Name : 223103995 - Muhamed Nader Elbokl
course : CSE211 Web programming
Assignment : course project
date : 30/12/2025
description : the purpose if this styling.css file is to style the pages in course project





*/